name: Deploy Site to LightSail

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Sync
      env:
        dest: 'ubuntu@44.235.46.163:/home/ubuntu/test-deployment'
      run: |
        echo "${{secrets.DobsonDev_Plesk_Hosting_Stack_on_Ubuntu_1_KEY}}" > deploy_key
        chmod 600 ./deploy_key
        rsync -chav --delete \
          -e 'ssh -i ./deploy_key -o StrictHostKeyChecking=no' \
          --exclude /deploy_key \
          --exclude /.git/ \
          --exclude /.github/ \
          ./ ${{env.dest}}

